body {
	background-color: #F0F0F0;
}
#menu{
	margin:0 auto;
}

#matrix {
	height: 400px; width: 400px;
	margin: 30px auto;
	background-color: #FFF;

}

.block {
	background-color: black;
	float:left;
	opacity: 0;